.NavBar {
  width: 100%;
  display: flex;

  border-bottom: 1px solid #007163;
}

.NavBar__item {
  margin-right: 10px;
  padding: 16px;

  font-size: 16px;
  font-weight: 700;
}

.NavBar__item:last-child {
  margin-right: 0;
}
